<header>
    <div>
        <div id="header-logo">
            <a href="/">
                <img>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="content1">
                        <div>Lien1</div>
                    </a>
                </li>
                <li>
                    <a routerLink="content2">
                        <div>Lien2</div>
                    </a>
                </li>
                <li>
                    <div>Produit</div>
                    <ul>
                        <li>
                            <a routerLink="produit/list">
                                <div>Listing</div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produit/add">
                                <div>Ajouter</div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produit/edit">
                                <div>Editer</div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produit/details">
                                <div>Vue détaillée</div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="produit/remove">
                                <div>Supprimer</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="header-searchbar">
            <form>
                <input type="text" placeholder="votre recherche...">
                <button type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</header>
